apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
apiServer:
  extraArgs:
    advertise-address: "{{ hostvars[inventory_hostname]['private_networks'] | map(attribute='ip') | select('match', '^192\\.168\\.0\\.\\d+$') | list | first }}"
  certSANs:
    - "{{ hostvars[inventory_hostname]['private_networks'] | map(attribute='ip') | select('match', '^192\\.168\\.0\\.\\d+$') | list | first }}"
controlPlaneEndpoint: "{{ hostvars[inventory_hostname]['private_networks'] | map(attribute='ip') | select('match', '^192\\.168\\.0\\.\\d+$') | list | first }}:6443"
networking:
  podSubnet: "10.244.0.0/16"
