apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
apiServer:
  extraArgs:
    advertise-address: "{{ ansible_all_ipv4_addresses | ansible.utils.ipaddr('private') | first }}"
  certSANs:
    - "{{ ansible_all_ipv4_addresses | ansible.utils.ipaddr('private') | first }}"
controlPlaneEndpoint: "{{ ansible_all_ipv4_addresses | ansible.utils.ipaddr('private') | first }}:6443"
networking:
  podSubnet: "10.244.0.0/16"
